{% extends "layout.html" %}

{% block meta %}
<title>{{params['about_meta_title']}}</title>
  <meta name="description" content="{{params['about_meta_description']}}">
{% endblock meta %}


{% block body %}



  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/about-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>404 Not Found</h1>
            <span class="subheading">Page not found</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
  </div>

  {% endblock %}
