{% extends "layout.html" %}

{% block meta %}
<title>{{params['home_meta_title']}}</title>
  <meta name="description" content="{{params['home_meta_description']}}">
{% endblock meta %}



{% block body %}

  <!-- Page Header -->
<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/home-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{params['blog_name']}}</h1>
            <span class="subheading">{{params['blog_tagline']}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

<!-- Todo: Fetch it using for loop from the database -->
 {% for post in posts %}
        <div class="post-preview">
          <a href="/post/{{post[2]}}">
            <h2 class="post-title">
              {{post[1]}}
            </h2>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Admin</a>
            on  {{post[4].strftime('%B %d, %Y')}}</p>
          {{post[3][0:200]|safe}}
        </div>
        <hr>
{% endfor %}
 
        <!-- Pager -->
        <div class="clearfix">
            <a class="btn btn-primary float-left" href="{{previous}}">&larr; Previous Posts </a>
          <a class="btn btn-primary float-right" href="{{next}}">Next Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>


  {% endblock body%}